{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}
    <div>
        {% if error.messageKey is defined %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('app_welcome') }}" method="post">
            <label>
                <div>Login:</div>
                <input type="email" name="_username" value="{{ last_username|default('') }}">
                <input type="password" name="_password">
            </label>
            <input type="submit" value="login">
        </form>
        <form action="http://127.0.0.1:8000/welcome/register" method="post">
            <label>
                <div>Register:</div>
                <input type="email" name="email">
                <input type="password" name="password">
            </label>
            <input type="submit" value="register">
        </form>
    </div>
{% endblock %}
