{% extends 'base.html.twig' %}

{% block title %}Hello BoardController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="kanban-heading">
            <strong class="kanban-heading-text">Edit Conditions</strong>
        </div>
        <div class="kanban-board" id="all-conditions">
            {% for board in boards %}
                <div class="kanban-block kanban-block-{{ loop.index }} {{ board.name }}" id="{{ board.name }}" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <strong>{{ board.name }}</strong>
                </div>
            {% endfor %}
        </div>
        <div class="kanban-board">
            <div class="create-new-condition-block" id="create-new-task-block">
                <strong>New Condition</strong>
                <span class="form-row">
                <label class="form-row-label" for="condition-name">Condition name</label>
                <input class="form-row-input" type="text" name="condition-name" id="condition-name">
                </span>
                <span class="form-row-buttons">
                <button id="save-button" onclick="saveCondition()">Save</button>
            </span>
            </div>
        </div>
        </div>
    </div>
    <script>
        function saveCondition() {
            const conditionName = document.getElementById("condition-name").value;

            const xhr = new XMLHttpRequest();
            xhr.open("POST", "http://127.0.0.1:8000/board/add", true);
            xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
            xhr.send(JSON.stringify({
                conditionName: conditionName
            }));
            xhr.onload = () => {
                const newCondition = JSON.parse(xhr.response);
                const conditions = document.querySelector('#all-conditions');
                conditions.innerHTML += `
                    <div class="kanban-block kanban-block-${conditions.children.length + 1} ${newCondition.name}" id="${newCondition.name}">
                        <strong>${newCondition.name}</strong>
                    </div>
                `;
            }
        }
    </script>
    <style>
        .container {
            width: 70%;
            min-width: 50%;
            margin: auto;
            display: flex;
            flex-direction: column;
        }

        .kanban-heading {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-family: sans-serif;
        }

        .kanban-heading-text {
            font-size: 1.8rem;
            background-color: tomato;
            padding: 0.8rem 1.7rem;
            border-radius: 0.5rem;
            margin: 1rem;
        }

        .kanban-heading-text--admin-edit {
            font-size: 0.8rem;
            background-color: tomato;
            padding: 0.8rem 1.7rem;
            border-radius: 0.5rem;
            margin: 1rem;
        }

        .kanban-board {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: sans-serif;
        }

        .kanban-block {
            padding: 0.6rem;
            width: 30.5%;
            min-width: 14rem;
            min-height: 4.5rem;
            border-radius: 0.3rem;
        }

        .Unassigned {
            background-color: #fec6d1;
        }

        .In {
            background-color: #ffaf00;
        }

        .Completed {
            background-color: #018b01;
        }

        .kanban-block-4 {
            background-color: #8b3101;
        }

        .kanban-block-5 {
            background-color: #018b6b;
        }

        .kanban-block-6 {
            background-color: #8b0154;
        }

        .kanban-block-6 {
            background-color: #018b46;
        }

        body {
            background-color: black;
        }

        .task {
            background-color: white;
            margin: 0.2rem 0rem 0.3rem 0rem;
            border: 0.1rem solid black;
            border-radius: 0.2rem;
            padding: 0.5rem 0.2rem 0.5rem 2rem;
        }

        #task-button {
            margin: 0.2rem 0rem 0.1rem 0rem;
            background-color: white;
            border-radius: 0.2rem;
            width: 100%;
            border: 0.25rem solid black;
            padding: 0.5rem 2.7rem;
            border-radius: 0.3rem;
            font-size: 1rem;
        }

        .kanban-block,
        .create-new-condition-block {
            padding: 0.6rem;
            width: 30.5%;
            min-width: 14rem;
            min-height: 4.5rem;
            border-radius: 0.3rem;
        }

        .create-new-condition-block {
            /*display: none;*/
             display: flex;
            background: #ffaf00;
            width: 30.5%;
            flex-direction: column;
            margin: 1rem 0;
        }

        .form-row {
            display: flex;
            flex-direction: row;
            margin: 0.2rem;
        }

        .form-row-label {
            /*width: 15%;*/
            padding: 0.2rem;
            padding-right: 0.5rem;
            border: 0.1rem solid black;
            border-right: 0;
            border-radius: 0.2rem 0rem 0rem 0.2rem;
        }

        .form-row-input {
            border: 0.1rem solid black;
            border-radius: 0rem 0.2rem 0.2rem 0rem;
            width: 85%;
        }

        textarea {
            resize: none;
        }

        .form-row-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0.2rem;
        }

        #edit-button,
        #save-button,
        #cancel-button {
            margin: 0.2rem 0rem 0.1rem 0rem;
            background-color: white;
            border-radius: 0.2rem;
            width: 49.2%;
            border: 0.25rem solid black;
            padding: 0.5rem 2.7rem;
            border-radius: 0.3rem;
            font-size: 1rem;
        }

        #edit-button {
            display: none;
        }

    </style>
{% endblock %}
